<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color: whitesmoke">
    <div class="container-fluid">

        <div class="jumbotron text-center" style="background-color: lightslategrey;">
            <h1 style="color:orange;">Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- News Header-->
        <div class="row">
            <div class="col-md-12">
                <h2> <strong>Mars News</strong></h2>
                <h3 class="heading">{{mars_data.News_Title}}</h3>
                <p>{{mars_data.News_Paragraph}}</p>
                <hr>
            </div>
        </div>
        <br>
        <!-- Create a row for the image -->
        <div class="row">
            <div class="col-md-7">
                <h2><strong>Featured Image</strong></h2>
                <img src="{{mars_data.Featured_Image['url']}}" alt="Featured Space Image" width="100%">
            </div>
            <div class="col-md-5">
                <h2><strong>Mars Facts</strong></h2>
                <hr>
                {{mars_data.Mars_Facts|safe}}
            </div>
        </div><br><hr>

        <div class="row">
            <h2 style="text-align: center;"><strong>Mars Hemispheres</strong></h2>
            <hr>
            {% for x in mars_data.Hemispheres %}
            <div class="col-md-6">
                <div class="card-body"></div>
                <h1 class="card-text text-center" ><strong>{{x.Title}}</strong></h1>
                <img src="{{x.URL}}" alt="Mars Hemispheres"  width="100%">
            </div>
            {% endfor %}
        </div>>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>